*{
    margin: 0;
    padding: 0;
     font-family: "Montserrat", sans-serif;
     border: 0;
}


body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
 
.linksTopo{
    color:white;
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    align-items: center;
    background-color: red;
    
}
a {
  color: inherit;        /* usa a cor do elemento pai */
  text-decoration: none; /* remove o sublinhado */
  font-size: 23px ;

}
.logo{
    height: 30PX;
  
    
}

.layout {
  display: flex;
  min-height: 100vh; /* ocupa toda a altura da tela */
}
    

ul{
     list-style-type: none;
     font-family: "Montserrat", sans-serif;
     font-weight: 700;

}
li{
    margin:40px;
}
aside{
    display: flex;
    justify-content:flex-start;
    padding-top: 40px;
    background-color:#CD5C5C;
    font-size: 23px;
}
main {
  flex: 1;
  padding:10px;

}
.icones{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 35px;
    background-color: blue;
    border-radius: 40px;
    
}
.icones img {
    width: 30px;
    height: 30px;
}




.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    gap: 40px;
    font-size: 25px;
    background-color:#CD5C5C;

}
    
.descricao{
    width:400px;
}
.hero_imagem{
        width: 350px;
        height: 350px;
        background-color: rgb(167, 167, 167);
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 110px;

    }
    .imgcalabrezo{
        width: 250px;
        height: 250px;
        border-radius: 10px;
    }
    .hero2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        background-color: blue;
        height: 350px;
        
    }
   

